.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.text {
  margin-bottom: 10px;
  font: var(--font-text);
  color: var(--color-text);
  text-align: center;
}

.text a {
  color: inherit;
}

.btn {
  margin-top: auto;
}
