.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--margin-block);
  min-width: 355px;
  min-height: 280px;
}

.text {
  position: absolute;
  top: 40%;
  padding: inherit;
  font: var(--font-text);
  color: var(--color-text);
  transform: translateY(-50%);
}

.btn {
  margin-top: auto;
  width: 100%;
}

@media (max-width: 964px) {
  .container {
    min-width: 285px;
    min-height: 210px;
  }
}

@media (max-width: 650px) {
  .container {
    min-width: 185px;
    min-height: 135px;
  }
}
