.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--margin-block);
  flex-grow: 1;
}

.text {
  position: absolute;
  top: 40%;
  padding: inherit;
  font: var(--font-text);
  color: var(--color-text);
  transform: translateY(-50%);
}

.btn {
  margin-top: auto;
  width: 100%;
}
