.input {
  padding: 5px;
  border: 2px solid var(--color-text);
  border-radius: 10px;
  font: var(--font-text);
  line-height: 1;
  color: var(--color-text);
}

.input:focus {
  outline: none;
  border-color: var(--color-accent-darken);
}
