.item {
  position: relative;
}

.toast {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
.form {
  display: flex;
  justify-content: space-between;
}

.services {
  flex-grow: 1;
  padding: 0 25px 0 0;
  max-width: 50%;
}

.checkout {
  flex-grow: 1;
  padding: 0 0 0 25px;
  max-width: 600px;
}

@media (max-width: 1023px) {
  .form {
    flex-direction: column;
  }
  .services {
    padding: 0;
    margin-bottom: var(--margin-block);
    max-width: 100%;
  }
  .checkout {
    padding: 0;
    max-width: 100%;
  }
}
