.section {
  margin-bottom: var(--margin-section);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px 50px;
  padding: 0 var(--padding-container);
  max-width: 1440px;
  height: fit-content;
}

@media (max-width: 660px) {
  .container {
    grid-template-columns: 1fr;
  }
  .map {
    order: 1;
    height: 50vh;
  }
}
