:root {
  /* Fonts */
  --font-h1: 600 48px / 1.2 "Roboto", sans-serif;
  --font-text: 400 24px / 1.2 "Roboto", sans-serif;

  /* Colors */
  --color-text: #333;
  --color-bg: #fff;
  --color-success: #32e670;
  --color-error: #df3230;
  --color-accent-light: #9a95b6;
  --color-accent-darken: #352c6c;
  --color-bg-component: #e6e6e6;

  --padding-container: 75px;
  --margin-block: 25px;
  --margin-section: 70px;
}

@media (max-width: 1124px) {
  :root {
    --padding-container: 50px;
  }
}

@media (max-width: 964px) {
  :root {
    --font-h1: 600 36px / 1.2 "Roboto", sans-serif;
    --font-text: 400 18px / 1.2 "Roboto", sans-serif;

    --padding-container: 25px;
    --margin-section: 40px;
    --margin-block: 15px;
  }
}

@media (max-width: 650px) {
  :root {
    --font-h1: 600 28px / 1.2 "Roboto", sans-serif;
    --font-text: 400 14px / 1.2 "Roboto", sans-serif;

    --padding-container: 15px;
  }
}
