.header,
.items {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0;
  margin: 0;
  list-style: none;
}

.items {
  min-width: 355px;
  min-height: 280px;
}

.day {
  text-align: center;
  font: var(--font-text);
  color: var(--color-text);
  opacity: 0.7;
}

@media (max-width: 964px) {
  .items {
    min-width: 285px;
    min-height: 210px;
  }
}

@media (max-width: 650px) {
  .items {
    min-width: 185px;
    min-height: 135px;
  }
}
