.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  border: none;
}

.submit {
  margin-top: auto;
}

.modal {
  width: 500px;
  height: 520px;
}

@media (max-width: 964px) {
  .modal {
    width: 345px;
    height: 370px;
  }
}

@media (max-width: 650px) {
  .modal {
    width: 285px;
    height: 305px;
  }
}
