.container {
  display: flex;
  flex-direction: column;
  padding: var(--margin-block);
  min-width: 355px;
  min-height: 280px;
}

.input {
  margin-bottom: var(--margin-block);
}

.personalData {
  max-width: 355px;
  font: var(--font-caption);
  color: var(--color-text);
}

.btn {
  margin-top: auto;
  margin-bottom: var(--margin-block);
}

@media (max-width: 964px) {
  .container {
    min-width: 285px;
    min-height: 210px;
  }
}

@media (max-width: 650px) {
  .container {
    min-width: 185px;
    min-height: 135px;
  }
}
